<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><title></title>

<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />


</head><body>

   <!-- Begin Wrapper -->
   <div id="wrapper">
	
         <!-- Begin Header -->
         <div id="header">
			   
		 </div>
		 <!-- End Header -->

		 <!-- Begin Left Column -->
         <div id="leftcolumn">
			<div id="menu">
                <ul>
                    
  <li><a href="#">Home</a>
                    
  </li><li><a href="#">Services</a>
                    
  </li><li><a href="#">Products</a>
                    
  </li><li><a href="#">News</a>
                    
  </li><li><a href="#">Contact Us</a>
                    
  </li><li><a href="#">About Us</a>
                </li></ul>
           </div>
		</div>
		 <!-- End Left Column -->

		 <!-- Begin Right Column -->
		 <div id="rightcolumn">
            <div class="content_left">
                <h3>Simplify your Computing Requirements</h3><br />
                
                Mr 
IT is all about making your job easier. Our Systems and Solutions are designed 
to take the stress out of IT and simplify your IT requirements. We will handle 
the burden and the stress that IT may bring you and, with our proven solutions 
and tested knowledge, we can make IT a less significant part of your day. <br /><br />

Our team of qualified, friendly, highly 
skilled and experienced technicians will either come to you or help you 
remotely, depending on what suites you. In a nutshell, we can do the following: 
-<br /><br />

- Mr IT can fix your computers problems, 
onsite or remotely<br />
- Mr IT eradicates viruses and 
spyware<br />
- Mr IT can improve your computers 
performance<br />
- Mr IT fixes and upgrades computers<br />
- Mr IT maintains and installs networks<br />
- Mr IT will help with your internet needs
<br /><br />
We continually work and 
being consummate professionals in all we do. We believe in doing it right the 
first time.
<br /><br />
In essence, we 
make IT look like Childs play in the hand of our Specialists.
<br /><br />
            </div>			
		 </div>
		 <!-- End Right Column -->
  
	<div id="footer">
		<p>
			We are onsite and remote support computer 
specialists, johannesburg, gauteng, rosebank, sandton, west rand 
		</p>
   </div>
		 <!-- End Footer -->
		 
   </div>
   <!-- End Wrapper -->
   

</body></html>
